*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body,html{
   width: 100%;
   height: 100%;
}
/* banner */
.contactbanner{
   width: 100vw;
   height: 60vh;
   background-image: url("https://xtendedspace.s3.ap-south-1.amazonaws.com/static/Contact-Us.webp");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   display: flex;
   padding: 100px;
   justify-content: flex-start;
   align-items: center;
   border-radius: 0px 0px 50px 50px;

}
.contactcontent h1{
   font-size: 50px;
   font-weight: 600;
}
.contactcontent p{
   margin-top: 20px;
   font-size: 20px;
   font-weight: 500;
   width: 60%;
   color: #fff;

}

.contactcontent{
   width: 70%;
   color: #fff;

}
@media screen and (max-width:767px) {
   .contactbanner{
      padding: 10px;
      justify-content: center;
      align-items: center;
      height: 35vh;
   border-radius: 0px 0px 20px 20px;

   
   }
   .contactcontent h1{
      font-size: 36px;
   }
   .contactcontent p{
      font-size: 18px;
      font-weight: 500;
      width: auto;
      height: 110px;
   
   }
   
   .contactcontent{
      width: 100%;
      /* text-align: center; */
     
   }
}